<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Map
    </ion-title>
    <ion-select slot="end" interface="popover" [(ngModel)]="value" (ionChange)="changeMap($event.target.value)"
      placeholder="Select One">
      <ion-select-option value="demo">demo</ion-select-option>
      <ion-select-option value="Waterside_10">Waterside 10</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<div id="map" style="width:100%; height:100%;"></div>