<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons color="primary" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      μFind
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/image.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Welcome to μFind</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>μFind is your one stop shop for finding people, conference rooms, and more quickly and easily</p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-item href="./search">
      <ion-icon slot="start" color="medium" name="search"></ion-icon>
      <ion-text color="tertiary">
        <h1>Search</h1>
      </ion-text>
    </ion-item>
    <ion-item href="./map">
      <ion-icon slot="start" color="medium" name="map"></ion-icon>
      <ion-text color="tertiary">
        <h1>Maps</h1>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>